#profile{
    width:  500px;
    height: 250px;
}
body{
background-color: rgb(79, 76, 76);
color: black;
margin: 0px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    background-color: steelblue;
    justify-content: space-evenly;
}
.flex > div{
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
}
nav >a:visited{
    color: white ;
    text-decoration: none;
}

.active-page{
    background-color: rgb(169, 16, 16);
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid red;
    margin: 0px;
    padding: 0px;
    background-color: black;
    position: sticky;
    top: 0px;
    font-family: Samurai;
}
nav > a{
    font-size: 40px;
    text-decoration: none;
    border: solid red;
    border-collapse: collapse;
}
textarea{
    width: 500px;
    height: 200px;
}
@font-face {
    font-family: "Samurai";
    src: url( "Fonts/SAMURAICP-Bold.otf");
    font-weight: normal;
    font-style: normal;
}